body {
    background: url("../images/Starfield.jpg");
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-size: 28px;
}
p {
    text-align: center;
}
#gameboard{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.stopped,
.dance,
.cycling {
    height: 100%;
    width: 100%;
}
h1 {
    font-family: "Star Jedi Hollow";
    color: yellow;
    font-size: 65px;
    margin: 10px 0;
}
h2 {
    font-size: 35px;
    margin: 10px 0;
}
h3 {
    font-size: 28px;
    margin: 10px 0;
    text-align: center;
}
#rotator {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#countdown {
    display:none;
}
#countdown.show {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    font-family: "Star Jedi Hollow";
    color: yellow;
    font-size: 300px;
}